Algoritmo TSP

In [2]:
import pandas as pd # for data manipulation
import numpy as np # for linear algebra
import matplotlib.pyplot as plt # for plotting

In [3]:
df = pd.read_csv("../data/worldcitiespop.csv", 
                 usecols=["Country", "City", "Population", "Latitude", "Longitude"]) 
df

        Country         City  Population   Latitude  Longitude
0            ad        aixas         NaN  42.483333   1.466667
1            ad   aixirivali         NaN  42.466667   1.500000
2            ad   aixirivall         NaN  42.466667   1.500000
3            ad    aixirvall         NaN  42.466667   1.500000
4            ad     aixovall         NaN  42.466667   1.483333
...         ...          ...         ...        ...        ...
3173953      zw   zimre park         NaN -17.866111  31.213611
3173954      zw  ziyakamanas         NaN -18.216667  27.950000
3173955      zw   zizalisari         NaN -17.758889  31.010556
3173956      zw      zuzumba         NaN -20.033333  27.933333
3173957      zw   zvishavane     79876.0 -20.333333  30.033333

[3173958 rows x 5 columns]

In [18]:
mx_data = df.loc[df['Country'] == 'mx', ["City", "Population", "Latitude", "Longitude"]]
mx_data

                City  Population   Latitude   Longitude
1857044     abadiano         NaN  19.983333 -102.850000
1857045        abajo         NaN  28.033333 -107.700000
1857046        abajo         NaN  21.433333  -97.583333
1857047        abala         NaN  20.633333  -89.683333
1857048         abal         NaN  19.950000  -88.866667
...              ...         ...        ...         ...
1919155        zurdo         NaN  25.916667 -106.750000
1919156       zurita         NaN  20.616667 -101.233333
1919157    zurumuato         NaN  20.300000 -101.583333
1919158  zurumucapio         NaN  19.433333 -101.866667
1919159   zurumutaro         NaN  19.550000 -101.583333

[62116 rows x 4 columns]

In [19]:
q10_pop = mx_data['Population'].quantile(.95)

In [21]:
mx_data = mx_data[mx_data['Population'] >= q10_pop]
print(mx_data)

                   City  Population   Latitude   Longitude
1857167        acapulco    652160.0  16.850000  -99.916667
1857366           acuna    144703.0  29.300000 -100.916667
1857858  aguascalientes    658193.0  21.883333 -102.300000
1859091         apodaca    352246.0  25.766667 -100.200000
1862481        campeche    205221.0  19.850000  -90.533333
...                 ...         ...        ...         ...
1916933        veracruz    568336.0  19.200000  -96.133333
1917271    villahermosa    362416.0  17.983333  -92.916667
1917569          xalapa    425166.0  19.533333  -96.916667
1917750            xico    365793.0  19.266667  -98.933333
1918739         zapopan    987555.0  20.716667 -103.400000

[85 rows x 4 columns]

In [7]:
mx_data.duplicated().sum()

0

In [23]:
import pandas as pd
import numpy as np
from math import radians, sin, cos, atan2, sqrt

def haversine_distance(lat1, lon1, lat2, lon2):
  """
  Calculates the distance between two points on Earth using the Haversine formula.

  Args:
      lat1: Latitude of the first point (in radians).
      lon1: Longitude of the first point (in radians).
      lat2: Latitude of the second point (in radians).
      lon2: Longitude of the second point (in radians).

  Returns:
      The distance between the two points in kilometers.
  """
  earth_radius = 6371.01  # Earth's radius in kilometers
  d_lat = lat2 - lat1
  d_lon = lon2 - lon1
  a = sin(d_lat / 2) * sin(d_lat / 2) + cos(radians(lat1)) * cos(radians(lat2)) * sin(d_lon / 2) * sin(d_lon / 2)
  c = 2 * atan2(sqrt(a), sqrt(1 - a))
  return earth_radius * c

cities = mx_data[["Latitude", "Longitude"]].to_numpy()
num_cities = len(cities)

# Create a NumPy array to store distances
distance_matrix = np.zeros((num_cities, num_cities))

# Calculate distances between each pair of cities
for i in range(num_cities):
  for j in range(i, num_cities):  # Avoid redundant calculations (upper triangular matrix)
    lat1, lon1 = cities[i]
    lat2, lon2 = cities[j]
    distance_matrix[i, j] = haversine_distance(radians(lat1), radians(lon1), radians(lat2), radians(lon2))

    distance_matrix[j, i] = distance_matrix[i, j]

print(distance_matrix)

[[   0.         1388.87248324  619.32607028 ...  447.5970903
   290.12083706  578.78668017]
 [1388.87248324    0.          838.95797793 ... 1173.96253104
  1137.3543425   993.70919635]
 [ 619.32607028  838.95797793    0.         ...  653.21563312
   474.17746324  178.29891576]
 ...
 [ 447.5970903  1173.96253104  653.21563312 ...    0.
   226.19185871  732.83642559]
 [ 290.12083706 1137.3543425   474.17746324 ...  226.19185871
     0.          522.2028354 ]
 [ 578.78668017  993.70919635  178.29891576 ...  732.83642559
   522.2028354     0.        ]]

In [25]:
distance_matrix.shape

(85, 85)

In [32]:
import plotly.graph_objects as go
import pandas as pd

fig2 = px.scatter_mapbox(mx_data, lat="Latitude", lon="Longitude", hover_name="City", zoom=3, height=600, size_max=8)

# Adding the best path or solution as a line
fig2.add_trace(go.Scattermapbox(
    lat=best_path[:, 0],
    lon=best_path[:, 1],
    mode='markers+lines',
    name='Best Path',
    marker=go.scattermapbox.Marker(size=4),
    line=go.scattermapbox.Line(width=1,color='steelblue')))

# Customizibg the map style
fig2.update_layout(mapbox_style="carto-positron")

# Showing the interactive plot
fig2.show()

NameError: name 'best_path' is not defined

In [31]:
import plotly.express as px