# EDA - Federico

Importamos librerías

In [1]:
import os
import pandas as pd

Cargamos los datos en un solo diccionario separados en dataframes

In [2]:

PATH = "../"
data_path = os.path.join(PATH, 'data')
data_files = os.listdir(data_path)

dataframes : dict[pd.DataFrame] = {}
for file in data_files:
    datafile_fullpath = os.path.join(data_path, file)
    dataframes[file.split(".")[0]] = pd.read_csv(datafile_fullpath)

## Limpieza de datos

In [3]:
print(dataframes.keys())

dict_keys(['agency', 'calendar', 'frequencies', 'routes', 'shapes', 'stop_times', 'stops', 'trips'])

### Trips

In [4]:
print(dataframes["trips"].info())
dataframes["trips"].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1155 entries, 0 to 1154
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   route_id         1155 non-null   object
 1   service_id       1155 non-null   object
 2   trip_id          1155 non-null   object
 3   trip_headsign    1155 non-null   object
 4   trip_short_name  1155 non-null   object
 5   direction_id     1155 non-null   int64
 6   shape_id         1155 non-null   object
dtypes: int64(1), object(6)
memory usage: 63.3+ KB
None

,route_id,service_id,trip_id,trip_headsign,trip_short_name,direction_id,shape_id
0,CMX01001C,0,010001C000_1,Canal de Chalco - Barranca del Muerto,C.Base Periférico Canal de Chalco to Base Barr...,1,SH01001C000_1
1,CMX01001C,0,010001C000_0,Barranca del Muerto - Canal de Chalco,C.Base Barranca del Muerto to Base Periférico ...,0,SH01001C000_0
2,CMX01001B,0,010001B000_1,Canal de Chalco - Tacubaya,B.Base Periférico Canal de Chalco to Base Tacu...,1,SH01001B000_1
3,CMX01001B,0,010001B000_0,Tacubaya - Canal de Chalco,B.Base Tacubaya to Base Periférico Canal de Ch...,0,SH01001B000_0
4,CMX01001A,0,010001A000_1,Canal de Chalco - Cuatro Caminos,A.Base Canal de Chalco to Base Cuatro Caminos,1,SH01001A000_1

### Stop_times

In [7]:
print(dataframes["stop_times"].info())
dataframes["stop_times"].head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40804 entries, 0 to 40803
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   trip_id         40804 non-null  object
 1   arrival_time    40804 non-null  object
 2   departure_time  40804 non-null  object
 3   stop_id         40804 non-null  object
 4   stop_sequence   40804 non-null  int64
 5   timepoint       40804 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.9+ MB
None

,trip_id,arrival_time,departure_time,stop_id,stop_sequence,timepoint
0,010001A000_0,00:00:00,00:00:00,0100C100-PERIFHOLI,1,0
1,010001A000_0,00:03:37,00:03:37,010C1801-MAVILACONS,2,0
2,010001A000_0,00:05:02,00:05:02,010C1301-PERIFELEGAR,3,0
3,010001A000_0,00:06:35,00:06:35,010C1801-MAVILACEJNAL,4,0
4,010001A000_0,00:08:10,00:08:10,0100C100-PERIFHORACIO,5,0

###